.mainWrapper {
  width: var(--base-sm-wrapper);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper {
  width: 48%;
  padding: 15px;
  margin-bottom: 4%;
  background: #f5f5f5;
  transition: all 0.3s ease;

  h2 {
    color: var(--base-grey);
    margin: 0;
  }

  .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    p {
      width: 70%;
    }
  }

  .icon {
    width: 66px;
    height: 66px;
    background-size: cover;
    transition: all 0.3s ease;
  }

  &:hover {
    background: var(--base-black);

    h2 {
      color: var(--base-light-grey);
    }

    small,
    p {
      color: var(--base-light-grey);
    }

    .icon {
      filter: invert(100%);
    }
  }
}
