.nav {
  ul {
    display: flex;
    flex-wrap: nowrap;
  }

  li {
    display: block;
    margin-left: 10px;
  }
}

.selected-language a {
  color: blue;
}

.darkSwitcher {
  color: #fff;
  margin-top: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}
