.nav {
  ul {
    display: flex;
    flex-wrap: nowrap;
  }

  li {
    display: block;
    margin-left: 10px;
  }

  .hasSeparator {
    border-left: 1px solid var(--base-color);
    padding-left: 10px;
  }
}

.selected-language a {
  color: var(--base-blue);
}

.darkSwitcher {
  color: var(--base-color);
  margin-top: 2px;
  background: transparent;
  border: none;
  cursor: pointer;
}
