.tldr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    width: 50%;
    text-align: justify;
  }

  h2 {
    margin-top: 0;
  }

  .aboutme {
    width: 400px;
    height: 246px;
  }
}

.depth {
  text-align: justify;
}

@media only screen and (max-width: 720px) {
  .tldr {
    div {
      width: 100%;

      &:first-child {
        order: 1;
        margin-top: 10px;
      }
    }

    .aboutme {
      width: 100%;
      order: 0;
    }
  }
}
