:root {
  --base-color: #9c0039;
  --base-blue: #235789;
  --base-white: #fdfffc;
  --base-black: #161925;
  --base-yellow: #f1d302;
}

html {
  &.home {
    overflow: hidden;
  }
}

body {
  width: 100%;
  height: 100%;
  &.home {
    overflow: hidden;
  }
}

a {
  color: var(--base-color);
  text-shadow: none;
}

main {
  margin-top: 20px;

  a {
    position: relative;
    text-decoration: none;
    padding-bottom: 3px;
    transition: color 0.5s;

    &:before,
    &:after {
      position: absolute;
      bottom: 1px;
      left: 0;
      content: "";
      height: 1px;
      width: 0;
      background-color: var(--base-blue);
      transition: width 0.5s;
    }

    &:before {
      z-index: 0;
      width: 100%;
      background-color: var(--base-color);
    }

    &:hover {
      outline: none;
      color: var(--base-blue);

      // &:before {
      //   // max-width: 100%;
      // }

      &:after {
        width: 100%;
      }
    }
  }
}

.wrapper {
  transition: all 0.6s ease;

  height: 100%;
  min-height: 100vh;

  &.home {
    background: url("../images/common/top-main.jpg") no-repeat center center
      fixed;
    background-size: cover;
  }

  &.dark {
    background-color: #2a2b2d;
    color: #fff;
  }

  &.light {
    background-color: white;
  }
}
