.postTop {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h1 {
    margin-top: 0;
  }
}

.postImage {
  width: 40%;
}

.postFront {
  width: 60%;
  padding-left: 20px;
}

.postContent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;

  h3 {
    color: var(--base-color);
  }

  ul,
  ol {
    padding-left: 20px;
  }
}

.postIngredients {
  width: 45%;
  padding-right: 30px;
  position: relative;
  ul {
    list-style: decimal;
  }

  &:after {
    height: 100%;
    width: 1px;
    background-color: var(--base-color);
    content: "";
    position: absolute;
    right: 15px;
    top: 0;
  }
}

.postHtml {
  flex: 1;
}

:global(.wrapper.dark) {
  .postContent h3 {
    color: var(--base-dark-pink);
  }

  .postIngredients::after {
    background-color: var(--base-dark-pink);
  }
}

@media only screen and (max-width: 720px) {
  .postImage {
    width: 100%;
  }

  .postFront {
    width: 100%;
    padding-left: 0;
  }

  .postContent {
    flex-wrap: wrap;
  }

  .postIngredients {
    width: 100%;
    padding-right: 0;
    border-top: 2px var(--base-color) solid;
    &:after {
      content: none;
    }
  }
}
